* {
  color: #333;
  box-sizing: border-box;
}

svg {
  fill: #999;
}

body {
    margin: 0;
}

#navbar {
  top: 0;
  width: 100%;
  padding: 7px;
  position: fixed;
  min-width: 730px;
  background: #fff;
  box-shadow: 0 2px 3px #aaa;
}

#search {
    display: inline-block;
    word-spacing: -5px;
}

.col {
    display: inline-block;
}

.w3 {
    width: 25%
}

.w6 {
    width: 48%;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

#navbar img {
    vertical-align: middle;
}

#search input {
    width: 80%;
    height: 32px;
    font-size: 1.05em;
    word-spacing: normal;
    border: 1px solid #ccc;
    padding: 2px 5px 2px 10px;
    border-radius: 3px 0 0 3px;
}

#search img {
    margin: 0;
    vertical-align: top;
}

#avatar {
    width: 30px;
}

.icon {
  width: 30px;
  height: 30px;
}

main {
  width: 90%;
  margin: auto;
  display: grid;
  margin-top: 70px;
  grid-template-columns: auto 35%;
}

#viewer {
  width: 100%;
  height: 400px;
}

.title {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}

#details > h4 > * {
  margin: 0;
  vertical-align: middle;
}

.sharebox {
  display: grid;
  grid-template-columns: min-content auto;
}

.sharebox > span {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.sharebox > span > *{
  vertical-align: middle;
}

.sharebox > span:first-child{
  display: grid;
  padding: 0 5px 0 0;
  align-content: center;
}

.sharebox > span:last-child{
  text-align: right;
}

.sharebox a {
  margin: 0 10px;
  cursor: pointer;
  display: inline-grid;
  align-content: center;
  grid-template-columns: min-content auto;
}

.sharebox a > * {
  display: inline-grid;
  align-content: center;
}

.info  {
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
}

.info > * {
  display: inline-block;
}

.info > img {
  border-radius: 50%;
}

.info p {
  margin: 0;
  padding: 5px;
}

.bold {
  font-weight: bold;
}

#comments {
  margin-top: 30px;
}

#comments > p:first-child {
  font-size: 1.1em;
}

#comments > p:first-child > span {
  margin-left: 20px;
}

#comments > p:first-child > span > * {
  vertical-align: middle;
}

#comments > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#comments > ul > li {
  display: grid;
  padding: 10px 0;
  grid-template-columns: min-content auto;
}

#comments > ul > li img {
  margin: 0 15px 0 0;
  border-radius: 50%;
}

#comments > ul > li > *:nth-child(2) {
  display: grid;
  align-content: center;
}

#comments > ul > li > div:nth-child(2) > p:last-child {
  padding: 5px 0;
  font-size: 0.9em;
}

#comments > ul > li > div:nth-child(2) > p:last-child > img {
  margin: 0 5px;
}

#comments > ul > li > div:nth-child(2) > p:last-child > * {
  vertical-align: middle
}

#comments > ul > li p, #comments > ul > li h4 {
  margin: 0;
}

#comments h4 {
  font-weight: bold;
  padding-bottom: 10px;
}

#comments h4 span {
  color: #555;
  font-size: 0.9em;
  font-weight: normal;
}
#comments button {
  border: none;
  padding: 10px;
  background: none;
  font-size: 1.05em;
  border-radius: 2px;
  text-transform: uppercase;
}

#comments button.comment {
  background: #d2dcf3;
}

#comments input {
  width: 100%;
  padding: 5px;
  font-size: 1.02em;
  margin-bottom: 5px;
  border-width: 0 0 1px 0;
}

aside {
  padding: 10px;
  grid-area: 1 / 2 / 3 / 3;
}

aside img {
  margin: 0 10px;
}

.thumbnail {
    overflow: auto;
    margin-top: 20px;
}

.thumbnail_img {
    float: left;
}

.thumbnail-txt {
  overflow: hidden;
  font-size: 0.99em;
}

.vid-heading {
  font-weight: bold;
}

hr {
  border: none;
  margin-top: 20px;
  border-bottom: 1px solid rgb(90, 140, 233);
}

@media screen and (max-width: 950px) {
  main {
    display: block;
  }
}